h1{
    text-transform: none;
    margin-top: 100px;
    margin-left: 585px;
    margin-bottom: 10px;
    padding: 0%;
}
h2{
    font-weight: 400;
    margin-top: 190px;
    margin-left: 1280px;
}
.tch1{
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 630px;
    margin-top:100px;
    border: 1px:solid #D5FFFF;
    background-color:#D5FFFF;
    padding: 10px;
    color:white;
    text-decoration:none;
    border-radius:6px;
}
.tch2{
    text-transform: capitalize;    
    font-weight: 600;
    margin-left: 630px;
    border: 1px:solid #CBC3E3;
    background-color:#CBC3E3;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    }
.tch3{
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 630px;
    border: 1px:solid #FFFFED;
    background-color:#FFFFED;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.tch4{
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 630px;
    border: 1px:solid #90EE90;
    background-color:#90EE90;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}